{% extends "base.html" %} {% block main %}
<!-- <form action="" method="post">
  {% csrf_token %}
  <h1>Login</h1>
  <fieldset>
    <label>
      User Name
      <input name="username" type="text" />
    </label>
    <label>
      Password
      <input name="password" type="password" />
    </label>
    <button>Log In</button>
    <a href="{% url 'password_reset' %}">Forgot Your Password?</a>
    {% if error %}
      {{ error }}
   {% endif %}
  </fieldset>
</form> -->

 <!-- <form method="post">
  <h1>Login</h1>
  <fieldset>
  {% csrf_token %}
  {{ form }}
  <a href="{% url 'password_reset' %}">Forgot Your Password?</a>
  <button type="submit">Log In</button>
  </fieldset>
  </form> -->

  {% block content %}
  {% endblock %}
  <a href="{% url 'password_reset' %}">Reset Your Password</a>
</br>


{% endblock main %}
