{% include "../shared/header.html" %} {% block main %}
<h3>Bank accounts:</h3>

<table>
  <tr>
    <th>Account Number</th>
    <th>Account Name</th>
    <th>Balance</th>
    <th></th>
  </tr>
  {% for account in bank_accounts %}
  <tr>
    <td>
      <a href="{% url 'account' account.pk %}">{{ account.pk }}</a>
    </td>
    <td><a href="{% url 'account' account.pk %}">{{ account.name }}</a></td>
    <td>{{ account.balance }}</td>
    <td>
      <a href="{% url 'create-transfer' %}">See account</a><span> | </span>
      <a href="{% url 'create-transfer' %}">Make transfer</a>
    </td>
  </tr>
  {% endfor %}
</table>

<h3>Customers</h3>

<form>
  <input
    type="text"
    name="customerSearch"
    id="customerSearch"
    placeholder="Search customer..."
    value="{{ request.GET.customerSearch }}"
  />
  <button>Search</button>
</form>

<table>
  <tr>
    <th>PK</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
  {% for customer in customers %}
  <tr>
    <th>{{ customer.user.pk }}</th>
    {% if customer.is_disabled %}
    <td>
    {{ customer.user.first_name }} {{ customer.user.last_name }}- Customer Disabled
    </td>
    {% else %}

    <td>
      <a href="{% url 'customer' customer.user.pk %}"
        >{{ customer.user.first_name }} {{ customer.user.last_name }}</a
      >
    </td>
    {% endif %}
    <td>{{ customer.phone }}</td>
    <td>{{ customer.user.email }}</td>
  </tr>
  {% endfor %}
</table>

<h3>All Transfers</h3>

<form>
  <input
    type="text"
    name="transferSearch"
    id="transferSearch"
    placeholder="Search transfer..."
    value="{{ request.GET.transferSearch }}"
  />
  <button>Search</button>
</form>

<table>
  <tr>
    <th style="width: 315px">Transfer UID</th>
    <th>Amount</th>
    <th>Current balance</th>
    <th>Date and Time</th>
    <th>Text</th>
  </tr>
  {% for transfer in transfers %}
  <tr>
    <td><a href="/">{{ transfer.transfer_id }}</a></td>
    <td
      class="{% if transfer.amount > 0 %}green {% elif transfer.amount < 0 %}red{% endif %}"
    >
      {{ transfer.amount|floatformat:"2" }}
    </td>
    <td>{{ transfer.current_amount }}</td>
    <td>{{ transfer.timestamp }}</td>
    <td>{{ transfer.text }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock main %}
