{% include "../shared/header.html" %} {% block main %}
<h3>Welcome {{user}}</h3>
<span><b>{{rank}}</b> <small>rank</small></span>
<h3>My accounts:</h3>
<table>
  <tr>
    <th>Account Number</th>
    <th>Account Name</th>
    <th>Balance</th>
    <th></th>
  </tr>
  {% for account in accounts %}
  <tr>
    <td>
      <a href="{% url 'account' account.pk %}">{{ account.pk }}</a>
    </td>
    <td><a href="{% url 'account' account.pk %}">{{ account.name }}</a></td>
    <td>{{ account.balance }}</td>
    <td>
      <a href="{% url 'account' account.pk %}">See account</a><span> | </span>
      <a href="{% url 'create-transfer' %}">Make transfer</a>
    </td>
  </tr>
  {% endfor %}
</table>

<h3>My loans:</h3>
<table>
  <tr>
    <th>Account Number</th>
    <th>Account Name</th>
    <th>Loan amount</th>
    <th>Already paid</th>
    <th>Remaining</th>
    <th>Percentage paid</th>
    <th></th>
  </tr>
  {% for loan in loans %}
  <tr class="{% if loan.is_paid %}paid{% endif %}">
    <td>
      <a href="{% url 'account' loan.pk %}">{{ loan.pk }}</a>
    </td>
    <td><a href="{% url 'account' loan.pk %}">{{ loan.name }}</a></td>
    <td>{{ loan.loan_amount }}</td>
    <td>{{ loan.amount_paid }}</td>
    <td>{{ loan.remaining }}</td>
    <td>{{ loan.percentage_paid }}%</td>
    <td>
      <a href="{% url 'account' loan.pk %}">See loan</a><span> | </span>
      <a href="{% url 'loan-payment' %}">Pay loan</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock main %}
