{% include "../shared/header.html" %} {% block main %}

<h2>Staff overview: {{ customer.user }}</h2>
<form action="" method="post">
  {% csrf_token %}
      {{ user_form}}
      {{ customer_form }}
  <button>Update User</button> <span><button><a href="{% url 'disable_user' customer.pk %}">Disable User</a></button> </span>
</form>
</br>
<h2><a href="{% url 'create-account' customer.pk%}">+ Create Account for {{ customer.user }} </a> </h2>
<h2>{{ customer.user }}' accounts</h2>

<table>
  <tr>
    <th>Account Number</th>
    <th>Account Name</th>
    <th>Balance</th>
    <th></th>
  </tr>

  {% for account in customer.accounts %}
  <tr>
    <td>
      <a href="{% url 'account' account.pk %}">{{ account.pk }}</a>
    </td>
    <td><a href="{% url 'account' account.pk %}">{{ account.name }}</a></td>
    <td>{{ account.balance }}</td>
    {% if account.is_disabled %}
      <td>
        Account disabled
      </td>
    {% else %}
      <td>
        <a href="{% url 'account' account.pk %}">See account</a>
      </td>
    {% endif %}
    {% if account.balance == 0  and not account.is_disabled%}
    <td>
      <a href="{% url 'disable_account' account.pk %}">Disable account</a>
    </td>
    {% endif %}
  </tr>

  {% endfor %}

</table>
<h2>{{ customer.user }}' loans</h2>
<table>
  <tr>
    <th>Loan Account Number</th>
    <th>Loan Account Name</th>
    <th>Loan amount</th>
    <th>Balance</th>
    <th></th>
  </tr>

  {% for account in customer.loans %}
  <tr class="{% if account.is_paid %}paid{% endif %}">
    <td>
      <a href="{% url 'account' account.pk %}">{{ account.pk }}</a>
    </td>
    <td><a href="{% url 'account' account.pk %}">{{ account.name }}</a></td>
    <td>{{ account.loan_amount }}</td>
    <td>{{ account.balance }}</td>
    <td>
      <a href="{% url 'account' account.pk %}">See account</a>
    </td>
    {% if account.balance == 0 or account.is_paid %}
    <td>
      <a href="{% url 'disable_account' account.pk %}">Disable account</a>
    </td>
    {% endif %}
  </tr>

  {% endfor %}

</table>
{{error}}
{% endblock main %}
