{% include "../shared/header.html" %} {% block main %}
<h3>Add New Customer:</h3>
<form action="{% url 'create_customer' %}" method="POST">
  {% csrf_token %} {{ new_user_form}} {{ customer_form }}
  <button type="submit">Create New Customer</button>
</form>

{% endblock main %}
