{% include "../shared/header.html" %}
 {% block main %}
<h2>Create account</h2>

<form action="" method="post">
  {% csrf_token %}
  <!-- <label for="account_name">Account name: </label>
  <input id="account_name" type="text" name="account_name" value="" /> -->
  {{form}}
  <button type="submit">Create</button>
</form>

{% endblock main %}
