<h2>{{ account.name }}</h2>

<h3>Account Transfers</h3>

<table>
  <tr>
    <th style="width: 315px">Transfer UID</th>
    <th>Amount</th>
    <th>Date and Time</th>
    <th>Text</th>
    <th>Balance</th>
  </tr>
  {% for movement in account.transfers %}
  <tr>
    <td><a href="#">{{ movement.transfer_id }}</a></td>
    <td
      class="{% if movement.amount > 0 %}green {% elif movement.amount < 0 %}red{% endif %}"
    >
      {{ movement.amount|floatformat:"2" }}
    </td>
    <td>{{ movement.timestamp }}</td>
    <td>{{ movement.text }}</td>
    <td>{{ movement.current_amount }}</td>
  </tr>
  {% endfor %}
</table>
