{% extends "base.html" %} {% block main %}
<h1>Reset Your Password</h1>
<p>Enter your email address below, and we'll email instructions for setting a new one.</p>
<form method="POST">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Send email">
</form>
{% endblock main %}