{% extends "base.html" %} {% block main %}
<h3>Password reset complete</h3>
<br>Your password has been set. </br>
    You may go ahead and log in now.</p>
<a href="../account/login">Login</a>
{% endblock main %}