{% extends "base.html" %} {% block main %}
<h3>Enter new password</h3>
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Change My Password">
</form>
{% endblock main %}
