{% extends "base.html" %} {% block main %}
<header>
  <nav>
    <ul>
      <li><a href="{% url 'dashboard' %}">Home</a></li>
      {% if user.is_staff %}
      <li><a href="{% url 'create_customer' %}">New Customer</a></li>
      <li><a href="">Bank Accounts</a></li>
      {% else %}
      <li><a href="{% url 'make_loan' %}">Make Loan</a></li>
      {% endif %} {% if user.is_superuser %}
      <li><a href="{% url 'admin:index' %}">Admin</a></li>
      {% endif %}
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </nav>
</header>
{% endblock main %}
