{% include "../shared/header.html" %}
 {% block main %}
<h2>Create transfer</h2>

<form action="{% url 'create-transfer' %}" method="post">
  {% csrf_token %}
  <fieldset>
    {{ form }}
    <button>Create transfer</button>
  </fieldset>
</form>
{% endblock main %}
