{% include "../shared/header.html" %} {% block main %}
<form action="" method="post">
  {% csrf_token %}
  <fieldset>
    <label>
      Name for loan
      <input id="loan-name" name="name" type="text" />
    </label>
    <label>
      Amount
      <input id="amount" name="amount" />
    </label>
    <!-- <label>
        Interest Rate
       <select name="interest-rate" id="interest-rate">
        <option value="flat">Flat Rate</option>
        <option value="name">name</option>
       </select>
    </label> -->
    <button>Submit</button>
  </fieldset>
</form>
{% endblock main %}
