{% include "../shared/header.html" %} {% block main %}
<h2>Make a payment on a loan</h2>

<form action="{% url 'loan-payment' %}" method="post">
  {% csrf_token %}
  <fieldset>
    {{ form }}
    <button>Send</button>
  </fieldset>
</form>
{% endblock main %}
